@import "materialize-css/dist/css/materialize.min.css";

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.yellow-input + label {
    color: #ffffff !important;
}

input.yellow-input:focus + label {
    color: #ffeb3b !important;
}

.marginr10 {
    margin-right: 10px;
}

.marginl10 {
    margin-left: 10px;
}

.note-footer {
    word-wrap: break-word;
    white-space: pre-wrap;
    background: #f9e88d;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0 5px 0 5px;
}

.note-header {
    font-size: 14pt;
    margin: 0 0 -6px 0;
    background: #a27b5f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 5px 5px 5px;
}

.cross:before {
    content: '\2716';
    font-size: 10px;
    float: right;
    cursor: pointer;
}

textarea.note-header {
    resize: none;
    border: 0;
    padding-top: 10px;
}

textarea.note-header:focus {
    outline: none;
}

.col {
    margin-top: 10px;
}

.note-date {
    font-size: 10pt;
    color: green;
    text-align: right;
}

.note-big {
    margin-top: 10px;
    height: 70vh;
}

.note-big button {
    float: right;
    margin: 0 0 0 10px;
}

.note-big p {
    margin-top: -6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-right: 10px;
}

.note-big .note-footer {
    height: 70vh;
}

textarea.note-footer {
    border: 0;
    resize: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

textarea.note-footer:focus {
    outline: none;
}